@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h2,
.raleway-md {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
}

p,
.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .projects .hide {
  display: none;
}

.projects:hover .hide {
  display: block;
} */